.listTask {
  border: 3px solid;
  border-image-slice: 1;
  border-radius: 20px;
  border-image-source: linear-gradient(45deg, #a18cd1, #fbc2eb);
  padding: 8px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  width: 100%;
  box-sizing: border-box;
}
